<article class="<%= item.layout %>">
  <div class="pure-g">

    <!-- article: meta -->
    <div class="pure-u-2-24 article-meta">
      <div class="date"><time datetime="<%= item.date.toDate().toISOString() %>">
        <div class="day"><%= item.date.format("D") %></div>
        <div class="month"><%=  item.date.format("MMM YYYY") %></div>
      </time></div>
      <div class="article-tags">
        <%- partial('post/tag') %>
      </div>
    </div>


    <!-- article: main -->
    <div class="pure-u-19-24">
      <header><div class="article-title">
        <%- partial('post/title') %>
      </div></header>
      <div class="article-entry">
        <% if (item.excerpt && index){ %>
          <%- item.excerpt %>
          <a href="<%- item.permalink %>"><%- theme.excerpt_link %></a>
        <% } else { %>
          <%- item.content %>
        <% } %>
      </div>
      <% if (!index) { %>
      <footer><div class="article-comment">
        <%- partial('comment') %>
      </div></footer>
      <% } %>
    </div>

    <!-- article: toc -->
    <% if (!index) { %>
    <aside class="pure-u-3-24 article-toc">
      <div class="article-toc-inner">
        <%- toc(item.content) %>
      </div>
    </aside>
    <% } %>
  </div>
</article>
