<div class="wrap">
  <div class="inner" style="text-align: center">
    <% if (config.author){ %>
    &copy; <%= new Date().getFullYear() %> <a class="copyright" target="_blank" href="<%= config.url %>"><%= config.author %></a>
    <% } else { %>
    &copy; <%= new Date().getFullYear() %> <a class="copyright" target="_blank" href="<%= config.url %>"><%= config.title %></a>
    <% } %>
  </div>
</div>
